body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
	letter-spacing: 0.1em;
    text-decoration: none;
    overflow: hidden;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

div.header {
    background-color: black;
    position: fixed;
    top: 0%;
    width: 100%;
    text-align: center;
    padding: 22px;
}

div.content-wrapper {
    margin: 0% 20%;
    overflow-y: hidden;
}

footer div.footer-wrapper {
    width: 100%;
    height: 100px;
    background-color: gainsboro;
}

ul.nav-menu {
    overflow: hidden;
    list-style: none;
    padding: 0;
    position: relative;
    width: 55%;
    margin:0 auto;
}

.nav-menu li {
    width: auto;
    margin: 0 15px; 
}

.nav-menu li.logo {
    color: whitesmoke;
    font-size: 32px;
    transition: color 0.25s linear;
    text-decoration: none;
    text-align: center;
    width: 200px;
    height: 40px;
    position: fixed;
    top: 0%;
    left: 50%;
    margin-top: 12px;
    margin-left: -100px;
    margin-right: 0px;
}

.nav-menu li.logo:hover {
    color: darkgrey;
    transition: color 0.25s linear;
}

.nav-menu li.nav-menu-left {
    float: left;
    text-align: left;
}

.nav-menu li.nav-menu-right {
    float: right;
    text-align: right;
}

.nav-menu li a {
    color: whitesmoke;    
    text-decoration: none;
    transition: color 0.25s linear;
}

.nav-menu li a:hover {
    color: darkgray;    
    text-decoration: none;
    transition: color 0.25s linear;
}

.button{
	text-decoration: none;
	font-size: 2vmin;
	display: inline-block;
	position: relative;
	border: 3px solid black;
	box-shadow: -0.5vmin 0.5vmin 0 rgba(whitesmoke, 0.5);
	background: transparent;
	mix-blend-mode: lighten;
	color: black;
	padding: 2vmin 2vmin 1.8vmin 2vmin;
	text-shadow: none;
	line-height: 1;
	transform: translate3d(0.5vmin, -0.5vmin, 0);
	transition: all 0.25s ease;
    cursor: pointer;
}

.button:hover{ 
	transform: translate3d(1vmin, -1vmin, 0);
	box-shadow: -1vmin 1vmin 0 rgba(black, 0.5);
	background: black;
	color: darkgray;
}

.button:active{ 
	transform: translate3d(0px, 0px, 0);
	box-shadow: -0px 0px 0 rgba(black, 0.5);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
