<div style='height: 62px'>

    <div class='header'>

        <ul class="nav-menu">

            <li class="nav-menu-left noselect"><a href="#">ABOUT</a></li>
            <li class="nav-menu-left noselect"><a href="#">GALLERY</a></li>
            <li class='logo noselect'><a href='/home'>JADE</a></li>
            <li class="nav-menu-right noselect"><a href="#">CONTACT</a></li>
            <li class="nav-menu-right noselect"><a href="#">PLAYLISTS</a></li>

        </ul>

    </div>

</div>