<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>Home</title>
</head>
<body>

    <%- include('header.ejs') %>

    <div class='content-wrapper' style='height: 80vmin;'>
        <div class='noselect' id='display' style='height: 40vmin; text-align: center; padding-top: 35px; font-size: 256px;'>0</div>

        <div style='margin: auto; width: 112px;'>
            <div class='button noselect' id='start'>START</div>
        </div>
    </div>
    <footer>
        
        <div class='footer-wrapper'>
            
            <div class='content-wrapper'>

                

            </div>

        </div>
        
    </footer>   
    
</body>

<script src="/socket.io/socket.io.js"></script>
<script src='js/client.js'></script>

</html>