<div class="slideshow-container">
    <script src="js/slideshow.js"></script>
    <link rel="stylesheet" type="text/css" href="css/slideshow.css">

    <img class="slide" src="imgs/gus1.jpg" style="width:100%">
    <img class="slide" src="imgs/gus2.jpg" style="width:100%">
    <img class="slide" src="imgs/gus3.jpg" style="width:100%">
    <img class="slide" src="imgs/gus4.jpg" style="width:100%">

    <button class="button left-button" onclick="plusDivs(-1)">&#10094;</button>
    <button class="button button right-button" onclick="plusDivs(+1)">&#10095;</button>
</div>