<div class="slideshow-container">

    <script src="js/slideshow.js"></script>
    <link rel="stylesheet" type="text/css" href="css/slideshow.css">

    <div class="main-slides">
        <div class="slide active">
            <img src="imgs/gus1.jpg" style="object-position: 0 -20vmin">
        </div>
        <div class="slide">
            <img src="imgs/gus2.jpg" style="object-position: 0 -20vmin">
        </div>
        <div class="slide">
            <img src="imgs/gus3.jpg" style="object-position: 0 -20vmin">
        </div>
        <div class="slide">
            <img src="imgs/gus4.jpg" style="object-position: 0 -20vmin">
        </div>

    </div>    

    <button class="button left-button" onclick="plusDivs(-1)">&#10094;</button>
    <button class="button button right-button" onclick="plusDivs(+1)">&#10095;</button>

    <script>

        cycleDiv();

    </script>
</div>